@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

:root {
  --button-bg-color: #b66eff;
  --button-hover-bg-color: #935bca;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background: var(--button-bg-color);
  color: var(--button-color);

  margin: 10px;
  padding: 0.5rem 1rem;

  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;

  border: none;
  border-radius: 4px;

  display: inline-block;
  width: auto;

  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

  cursor: pointer;

  transition: 0.5s;
}

button.next {
  --button-bg-color: #f1c164;
  --button-hover-bg-color: #c09235;
}

button.home {
  --button-bg-color: #5fa9d9;
  --button-hover-bg-color: #327099;
}

button.done {
  /* --button-color: #ffffff; */
  --button-bg-color: #f1c164;
  --button-hover-bg-color: #c09235;
}

button:active,
button:hover,
button:focus {
  background: var(--button-hover-bg-color);
  outline: 0;
}
